//main colors
$brand-color: #1ED760;
$secundary-color: #AD1F51;
$third-color: #169643;

//other colors
$soft-gray-font: #565656;
$soft-gray-secundary-font: #cbcbcb;
$white-background: white;
$soft-gray-input-border: #dfdfdf;
$soft-gray-placeholder: #c5c5c5;
$soft-gray-divisory-line: #dbdbdb;
$soft-gray-secundary-divisory-line: #EFEFEF;



//fonts
$lato:'Lato', sans-serif;
