//colors
$brand-color: #1ED760;
$secundary-color: #AD1F51;
$white-background: white;
$soft-gray-input-border: #dfdfdf;
$soft-gray-placeholder: #c5c5c5;
$soft-gray-font: #565656;

//fonts
$lato:'Lato', sans-serif;
