@import "../../sass/__variables";
@import "../../sass/__mixins";

@media only screen and (max-width: 599px) {
  .song-card {
    width: 100%;
    height: 100.241vw;
    min-height: 320px;
    position: relative;

    &__cover {
      width: 43.557%;
      height: 39.036%;
      background: dimgray;
      position: absolute;
      top: 0;
      left: 28.301%;
    }

    &__info-container {
      width: 100%;
      height: 39.518%;
      position: absolute;
      top: 44.578%;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-between;
    }

    &__info-container-block {
      width: 100%;
      height: 32.091%;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-evenly;
    }

    &__lable {
      margin: 0;
      padding: 0;
      font-family: $lato;
      font-weight: 400;
      font-size: clamp(13px, 3.623vw, 17px);
      color: $soft-gray-secundary-font;
    }

    &__text {
      margin: 0;
      padding: 0;
      font-family: $lato;
      font-weight: 400;
      font-size: clamp(15px, 4.83vw, 23px);
      color: $soft-gray-font;
    }

    &__button {
      width: 43.557%;
      height: 12.079%;
      outline: none;
      border: none;
      border-radius: clamp(5px, 2.335vw, 13.991px);
      font-family: $lato;
      font-weight: 700;
      font-size: clamp(14px, 4.545vw, 30px);
      color: $white-background;
      cursor: pointer;
      background: $brand-color;
      position: absolute;
      bottom: 0;
      left: 28.301%;
    }
  }
}
