@import "../../sass/__variables";
@import "../../sass/__mixins";

@media only screen and (min-width: 1025px) {
  .song-card {
    width: 100%;
    height: 31.597vw;
    max-height: 455px;
    position: relative;

    &__cover {
      width: 32.286%;
      height: 62.637%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__cover-image {
      width: 100%;
    }

    &__info-container {
      width: 60.681%;
      height: 63.736%;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-between;
    }

    &__info-container-block {
      width: 100%;
      height: 29.31%;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-evenly;
    }

    &__lable {
      margin: 0;
      padding: 0;
      font-family: $lato;
      font-weight: 400;
      font-size: 18px;
      color: $soft-gray-secundary-font;
    }

    &__text {
      margin: 0;
      padding: 0;
      font-family: $lato;
      font-weight: 400;
      font-size: 20px;
      color: $soft-gray-font;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__button {
      width: 32.386%;
      height: 12.967%;
      outline: none;
      border: none;
      border-radius: clamp(5px, 0.954vw, 13.74px);
      font-family: $lato;
      font-weight: 700;
      font-size: clamp(14, 1.25vw, 18px);
      color: $white-background;
      cursor: pointer;
      background: $brand-color;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
