@import "../../sass/__variables";

@media only screen and (max-width: 599px) {
  .main-container {
    width: 100%;
    min-width: 320px;
    height: auto;
    background: $white-background;
    position: relative;
  }
}
