@import "../../sass/__variables";

@media only screen and (min-width: 1025px) {
  .main-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: auto;
    min-height: 95.972vw;
    background: $white-background;
    position: relative;
  }
}
