@import "../../sass/__variables";
@import "../../sass/__mixins";

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .song {
    margin: 10px 0;
    width: 100%;
    height: 10.431vw;
    background: $white-background;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;

    &__title {
      margin: 0;
      padding: 0;
      font-family: $lato;
      font-weight: 500;
      font-size: clamp(15px, 2.637vw, 22px);
      color: $third-color;
    }

    &__artist {
      margin: 0;
      padding: 0;
      font-family: $lato;
      font-weight: 500;
      font-size: clamp(15px, 2.158vw, 20px);
      color: $soft-gray-secundary-font;
      white-space: nowrap;
    }

    &__line {
      width: 100%;
      height: 3px;
      background: $soft-gray-secundary-divisory-line;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__button {
      width: 19.639%;
      height: 49.425%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: none;
      border: none;
      background: $brand-color;
      border-radius: clamp(5px, 1.323vw, 13.555px);
      position: absolute;
      right: 0;
    }

    &__button-text {
      margin: 0 8% 2% 0;
      padding: 0;
      font-family: $lato;
      font-weight: 700;
      font-size: clamp(14, 2.158vw, 18px);
      color: $white-background;
    }

    &__button-icon {
      width: 18.622%;
    }
  }
}
