@import "../../sass/__variables";
@import "../../sass/__mixins";

@media only screen and (min-width: 1025px) {
  .main-section {
    width: 100%;
    height: auto;
    min-height: clamp(545.95px, 53.263vw, 767px);
    background: cadetblue;
  }
}
